<ion-header>
  <ion-toolbar>
    <ion-title>Sigamos el Desarrollo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="py-4 mx-4">

    <ion-item>
      <p class="mb-0">Lista de indicadores</p>
    </ion-item>
    <ion-item>
      <p class="mb-0">Actividades</p>
    </ion-item>
    <ion-item>
      <p class="mb-0" >Consejos</p>
    </ion-item>
    <ion-item>
      <p class="mb-0">Vista de indicadores</p>
    </ion-item>
    <ion-item>
      <p class="mb-0">Resumen de mi hijo</p>
    </ion-item>
  </div>

</ion-content>