<ion-tabs>

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="followup">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Seguimiento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointments">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Citas Medicas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="information">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="create-baby-profile">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Agregar bebe</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="create-baby-profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>