.babysep {
  font-size: small;
}

.arrow-icon {
  color: gray;
  transform: translate(0px, 10px);
  font-size: 15px;
}

.add-icon {

  color: lightblue;

}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-item {
  padding: 0px 0px 0px 0px;
  --border-width: 1px 0px 0px 0px;
}

.square {
  display: inline-block;
  height: 100px;
  width: 80px;
  background-color: #b19cd9;

}

.options {
  padding: 5px 5px 5px 5px;
  text-align: right;
}

ion-label {

  padding: 0px 0px 0px 10px;
}