<ion-header class="ion-no-border">
    <ion-toolbar>

        <!-- <ion-buttons slot="primary">
            <ion-button (click)="goToCreateBaby()">
                <ion-icon slot="icon-only" class="add-icon" name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons> -->

        <ion-title>Niños</ion-title>

    </ion-toolbar>

</ion-header>


<ion-content>
    <ion-list class="ion-no-padding">
        <div class="my-2" *ngFor="let baby of babys">
            <ion-item class="ion-no-padding">
                <div class=" square">
                    <p style="text-align: center; color: white; font-size: small; font-weight: bold" class="my-4">
                        {{ageFromDateOfBirthday(baby?.dateofbirth)}} <br>
                        {{ ageFromDateOfBirthday(baby?.dateofbirth) === 1 ? 'mes' : 'meses' }} </p>
                </div>
                <ion-label class="babysep">
                    <h2>{{ baby?.name }}</h2>
                    <!-- <h2>{{ baby?.lname }}</h2> -->
                    <ion-note>{{baby?.sex}} &middot;</ion-note>
                    <div class="options">
                        <ion-label style="font-size: 10px; text-align: right;">
                            <ion-icon (click)="openModalEdit(baby?.id)" slot="end" name="pencil-outline"
                                style="font-size: 15px; padding: 0px 5px 0px 5px;">
                            </ion-icon>EDITAR
                            <ion-icon (click)="deleteBaby(baby?.id)" slot="end" name="trash-outline"
                                style="font-size: 15px; padding: 0px 5px 0px 5px;">
                            </ion-icon>ELIMINAR
                        </ion-label>
                    </div>
                </ion-label>

                <ion-note slot="end" class="arrow-icon">
                    <ion-icon name="chevron-forward-outline" (click)="goToBabyProfile(baby?.id)"></ion-icon>
                </ion-note>

                <div>

                </div>
            </ion-item>
        </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)=" loadMoreBabys($event)">
        <ion-infinite-scroll-content loadingSpinner="lines-small">

        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goToCreateBaby()">
            <ion-icon name="add" class="big"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>