<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h5 class="header" style="text-align: center;">Ingresa tu información personal</h5>

    <form [formGroup]="signUpForm" class="form">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Nombre</ion-label>
                        <ion-input formControlName="name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Apellido</ion-label>
                        <ion-input formControlName="lname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Fecha de nacimiento </ion-label>
                        <ion-datetime formControlName="birthdate">
                        </ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Numero de contacto</ion-label>
                        <ion-input formControlName="phone" type="text" name="phone">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Nombre de usuario</ion-label>
                        <ion-input formControlName="username"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Correo electronico</ion-label>
                        <ion-input formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item class="password">
                        <ion-input formControlName="password" placeholder="Contraseña"
                            [type]="showPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
                        <ion-button (click)="onPasswordToggle()" fill="clear">
                            <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item class="password">
                        <ion-input formControlName="confirmPassword" placeholder="Confirmar contraseña"
                            [type]="showConfirmedPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
                        <ion-button (click)="onConfirmPasswordToggle()" fill="clear">
                            <ion-icon [name]="showConfirmedPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-button size="medium" expand="block" fill="solid" color="primary" (click)="onSubmit()"
                        class="my-2" style="font-size: x-small">Registrate
                    </ion-button>
                </ion-col>


            </ion-row>

            <ion-row class="my-5 footer" style=" text-align: center;">
                <ion-col>
                    <ion-label style="color: gray; font-size: small">¿Ya tiene cuenta? </ion-label>
                    <br>
                    <ion-label (click)="goLogIn()" class="forget my-0" expand="block" fill="none" color="primary"
                        style="color:#2E5CEF; font-size: small; font-weight: bold;">¡Inicia Sesión!</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>

<ion-footer>
    <!-- <ion-toolbar>
        <ion-button color="success" (click)="goToLogin()" expand="full" fill="solid">¿Ya tienes una cuenta? ¡Inicia
            sesión!</ion-button>
    </ion-toolbar> -->
</ion-footer>