<ion-header>
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons> -->

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{baby?.name}}</ion-title>
    <ion-buttons slot="end" (click)="openModalEdit(baby?.id)">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="criticos">
      <ion-segment-button value="criticos">
        <ion-label>Hitos criticos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="notas">
        <ion-label>Notas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="resultados">
        <ion-label>Resultados de <br> Seguimiento</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <br>

  <ng-container *ngIf="segment === 'criticos' then criticos"></ng-container>
  <ng-container *ngIf="segment === 'notas' then notas"></ng-container>
  <ng-container *ngIf="segment === 'resultados' then resultados"></ng-container>

  <ng-template #criticos>
    <ion-progress-bar></ion-progress-bar>
    <!-- <h1 style="text-align: center;">{{ageFromDateOfBirthday(baby?.dateofbirth)}}
      {{ ageFromDateOfBirthday(baby?.dateofbirth) === 1 ? 'mes' : 'meses' }}</h1> -->

    <div class="row">

      <div class="col-12 text-center px-5 pt-3">
        <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)" class="custom-select">
          <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
        </select>
      </div>
    </div>
    <div id="quiz">
      <hr py-1 />

      <div *ngIf="mode=='quiz' && quiz">
        <div *ngFor="let question of filteredQuestions;">
          <div class="text-center py-3">
            <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
          </div>
          <!-- <div *ngIf="config.duration" class="badge badge-info float-right">Time: {{ellapsedTime}} / {{duration}}</div> -->
          <h3 class="font-weight-bold px-1" style="font-size: 1rem; text-align: center">{{pager.index + 1}}.
            <span [innerHTML]="question.name" style="font-size:1.125rem"></span>
          </h3>
          <div class="row text-left options mx-0 px-4 py-2">

            <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)"
              #radioGroup>
              <ion-item lines="none" *ngFor="let option of question.options">
                <ion-text>{{option.name}}</ion-text>
                <ion-radio slot="start" color="primary" value="{{option.name}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </div>
        <hr />
        <div class="text-center">
          <button class="btn btn-default mx-1" *ngIf="config.allowBack" (click)="goTo(0);">First</button>
          <button class="btn btn-default mx-1" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
          <button class="btn btn-primary mx-1" (click)="goTo(pager.index + 1);">Next</button>
          <button class="btn btn-default mx-1" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>
          <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
        </div>
      </div>

      <div class="row text-center" *ngIf="mode=='review'">
        <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
          <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">
            {{index + 1}}. {{ isAnswered(question) }}</div>
        </div>
      </div>
      <div class="result" *ngIf="mode=='result'">
        <h2>Quiz Result</h2>
        <div *ngFor="let question of quiz.questions; let index = index">
          <div class="result-question">
            <h5>{{index + 1}}. {{question.name}}</h5>
            <div class="row">
              <div class="col-6" *ngFor="let option of question.options">
                <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected"
                  (change)="onSelect(question, option ,$event);" />
                {{option.name}}
              </div>
            </div>
            <!-- <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your
              answer is {{isCorrect(question)}}.</div> -->
          </div>
        </div>
        <h4 class="alert alert-info text-center">You may close this window now.</h4>
      </div>
      <hr />
      <!-- <div *ngIf="mode!='result'">
        <button class="btn btn-warning" (click)="mode = 'quiz'">Quiz</button>
        <button class="btn btn-info" (click)="mode = 'review'">Review</button>
        <button class="btn btn-primary" (click)="onSubmit();">Submit Quiz</button>
      </div> -->
    </div>
  </ng-template>

  <ng-template #notas>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="mx-3" style="text-align: center;">{{ageFromDateOfBirthday(baby?.dateofbirth)}}
            {{ ageFromDateOfBirthday(baby?.dateofbirth) === 1 ? 'mes' : 'meses' }}</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="mx-3" style="font-size: small;">Registra una nota acerca de los hitos de
            {{ageFromDateOfBirthday(baby?.dateofbirth)}}
            {{ ageFromDateOfBirthday(baby?.dateofbirth) === 1 ? 'mes' : 'meses' }} de {{baby?.name}} que quisieras
            platicar
            con el doctor:</p>
        </ion-col>
      </ion-row>
      <div class="mx-3">
        <!-- <ion-input placeholder="Ingrese sus notas aqui"></ion-input> -->
        <textarea class="form-control py-2" id="exampleFormControlTextarea1" style="resize: none;" rows="3"></textarea>
        <ion-button class="my-3" expand="block" fill="solid">Listo
        </ion-button>
      </div>

    </ion-grid>
  </ng-template>

  <ng-template #resultados>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="mx-3">Resultados</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>


</ion-content>